.form-container {
    min-width: 320px;
    max-width: 600px;
    border-top: 4px solid rgba(0, 0, 0, 0.4);
    border-left: 4px solid rgba(0, 0, 0, 0.4);
    border-right: 1.5px solid rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    margin: auto;
    position: relative;
    top: 32px;
}

.form-header-container {
    text-align: center;
}

.h2 {
    margin: 0 8px 16px;
}

.section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.slider-container {
    width: 100%;
}

.margin {
    margin: 8px;
}

.mat-slider-horizontal {
    min-width: 150px;
    width: 300px;
}

.mat-card+.mat-card {
    margin-top: 8px;
}

.mat-card {
    color: #000;
    background-color: #ffffff;
}

::ng-deep .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb, .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
    background-color: #000000;
}

::ng-deep .mat-slider-horizontal .mat-slider-track-wrapper {
    background-color: #000;
}

::ng-deep .mat-slider-horizontal .mat-slider-track-fill {
    background-color: darksalmon;
}

.form-footer {
    text-align: center;
}

.mat-raised-button {
    min-width: 120px;
    line-height: 42px;
    background-color: #a8dab5;
}