<div class="form-container">
    <div class="form-header-container">
        <h2>Automate Actions</h2>
    </div>
    <mat-card class="result-card">
        <mat-card-content>
            <h2>Number of posts to like</h2>
            <div id="slider-container">
                <mat-slider class="margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step"
                    [thumbLabel]="thumbLabel" [tickInterval]="getSliderTickInterval()" [(ngModel)]="numLikesVal"
                    [vertical]="vertical">
                </mat-slider>
                <span>{{ numLikesVal }}</span>
            </div>

        </mat-card-content>
        <div class="form-footer">
            <a [routerlink]="https://instagram.com" target="_blank" (click)="likePosts(this.numLikesVal)">
                <button mat-raised-button color="accent">Execute</button>
            </a>
        </div>
    </mat-card>
</div>